* {
    box-sizing: border-box;
  }
  body {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    background-color: #C9C6B5;
  }
.main-flex-container{

}

article{
    position: relative;
}

img{
    margin-bottom: 1%;
    height: 50vh;
    width: 85vw;
}

.top-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Anton', sans-serif;
font-family: 'Moon Dance', cursive;
font-family: 'Unbounded', cursive;
color: #C9C6B5;
font-size: 60pt;
}

.bottom-box{
    display: flex;
    justify-content: space-around;
    background-color: #756567;
    height: 60vh;
    width: 85vw;
}

.social-media{ 
    margin: 3px;
    /* border: 5pt solid #FDEFE1; */
    height: 324px;
    width: 270px;
}

.office-info{
    /* border: 5pt solid #FDEFE1; */
    margin: 3px;
    height: 324px;
    width: 270px;
}

.contact-info{
    /* border: 5pt solid #FDEFE1; */
    margin: 3px;
    height: 324px;
    width: 270px;
}
input#Name-box{
    height: 30px;
    width: 90%;
}
input#Message-box{
    height: 90px;
    width: 90%;
}

input#Send-box{
    margin-bottom: 5%;
}

h2{
color: #FCF9E3;
font-family: 'Roboto Condensed', sans-serif;
font-weight: bolder;
}

p{
color: #FCF9E3;
font-font-family: 'Roboto Condensed', sans-serif;family: 'Roboto Mono', monospace;
font-weight: lighter;
}

